<a  href="https://open.spotify.com/track/{{input_song.id}}" class="bg-[#1f1f1f] w-[30%] rounded-lg">
    <div class="py-12 px-8 flex flex-col">

        <img class="rounded-lg" src="{{image}}">
        <span class="mt-8 font-black text-2xl">{{input_song.trackName.upper()}}</span>
        <div>
            <span class="font-extralight">by</span>
            <span>{{input_song.artistName}}</span>
        </div>

    </div>
</a>
<div class="w-[70%] grid grid-cols-3 gap-4">

    {% set colors = ['bg-[#ec008c]', 'bg-[#006b50]', 'bg-[#a000ec]', 'bg-[#282266]', 'bg-[#4f8d00]', 'bg-[#c15900]',
    'bg-[#009900]', 'bg-[#2e0e74]' ,'bg-[#4247f1]' , 'bg-[#f40026]'] %}

    {% for song in playlist %}

    <a class="{{ colors | random }} rounded-lg text-white p-6"
        href="https://open.spotify.com/track/{{ song.uri.split(':')[2] }}">
        <div class="flex flex-col gap-1">
            <span class="font-extrabold	">{{ song.song_name }}</span>
            <span class="font-light">{{ song.artiste_name }}</span>
        </div>

    </a>

    {% endfor %}
</div>