<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Musiques Similaires</title>
  </head>
  <body>
    <div class="container" id="track-info">
      <h1 class="title">Musiques similaires</h1>

      {% for track in tracks %}
      <div class="music-box">
          <form class="music-link" method="POST" hx-post="/api/v1/get_track_infos" hx-target="#track-info">
              <input type="hidden" name="track_id" value="{{ track.id }}" />
              <input type="hidden" name="artist_name" value="{{ track.artists[0].name }}" />
              <button type="submit" style="background: none; border: none; cursor: pointer; color: inherit;">
                  {{ track.name }} - {{ track.artists[0].name }}
              </button>
          </form>
      </div>
        {% endfor %}

      </div>
    </div>
  </body>
</html>
